*,
*::before,
*::after {
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
#content {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    background-color: #D4E2E8;
    grid-template-columns: repeat(10, 1fr);
}

header {
    background-color: #1DD2D8;
    display: grid;
    grid-template-columns: 150px auto;
    grid-template-rows: 100px;
}

.logo {
    width: 100px;
}

nav a {
    text-align: center;
    color: #584D53;
    text-decoration: none;
    padding: 35px;
    /*margin-left: auto; */
    /*padding-left: 50px; */
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    justify-content: space-around;
}

nav a:hover {
    background-color: #D4E2E8;
    color: #585858;
}

.bolded {
    font-weight: 700;
}

.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

.base-box {
    grid-column: 3/9;
    grid-row: 2;
}

.repair-box {
    grid-column: 3/9;
    grid-row: 5;
}


.home-title,
h4 {
    color: #584D53;
    font-family: 'Times New Roman', Times, serif;
    grid-column: 1/11;
    grid-row: 3;
    font-size: 2em;
    text-align: center;
}

.background {
    height: 200px;
    background-color: #A2DDB9;
    grid-column: 1/11;
}

.card-img {
    width: 100%;
}

.msg {
    text-align: center;
    display: grid;
    flex-direction: column;
    align-items: center;
    grid-column: 3/9;
    grid-row: 4;
}

.msg h2 {
    font-family: Arial, Helvetica, sans-serif;
    color: #584D53;
    font-size: 2em;
}

.msg p {
    background-color: #A2DDB9;
    color: #584D53;
    font-size: 1em;
    padding: 15px;
    width: 100%;
    /* Adjust the width as needed */
    margin-top: 10px;
    /* Adjust the top margin as needed */
    box-sizing: border-box;
}
ul, li {
    text-align: left;
}
footer {
    background-color: #584D53;
    color: #1DD2D8;
    text-decoration: none;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color: #A2DDB9;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    background-color: #584D53;
    color: #1DD2D8;
}

/*Custom builds*/
.io {
    grid-column: 2/5;
    grid-row: 2;
}


.custom-box {
    grid-column: 7/10;
    grid-row: 4;
}

.io-img,
.custom-img {

    /* This makes the image fill its container */
    max-width: 100%;
    /* Adjust the max-width as needed */

}



.io-msg {
    color: #3e3e3e;
    padding: 2em 0;
    align-self: center;
    display: flex;
    justify-content: center;
}

.msg-build {
    grid-column: 3/9;
    grid-row: 3;
    text-align: left;
    background-color: #A2DDB9;
    color: #584D53;
    padding: 2em;
}

.msg-build p {
    background-color: unset;
}
/* Repairs site*/
.jig-msg{
    margin: 0;
    grid-column: 1/11;
    text-align: center;
    grid-row: 1;
}
.jig-box{
    grid-column: 1/5;
    grid-row: 2;
}
.bios-box{
    grid-column: 3/8;
    grid-row: 3;
}
.msg-repair {
    grid-column: 5/11;
    grid-row: 2;
    text-align: left;
    background-color: #1DD2D8;
    color: #584D53;
    padding: 2em;
}
.msg-repair p{
    background-color: unset;
}
@media screen and (max-width: 900px) {
    header, nav, main, footer{
        display: block;
    }
}
